.statistics {
  padding: 15px;
  width: 550px;
  background-color: beige;
}

.title {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
}

.statList {
  display: flex;
  align-content: center;
  justify-content: center;
  font-variant-caps: small-caps;
  font-weight: bold;
}
.item:not(:last-child) {
  margin-right: 25px;
}
